.sideBar
  .sideBar__user-name
    .sideBar__user-name__top-items
      .sideBar__user-name__top-items__name 
        masa
      .sideBar__user-name__top-items__icons  
        = link_to "#", class: "sideBar__user-name__top-items__icons__btn1" do
          = icon('fa', 'edit')
        = link_to "#", class: "sideBar__user-name__top-items__icons__btn2" do
          = icon('fa', 'cog') 


  .sideBar__group
    .sideBar__group__lists 
      = link_to "#" do
        .sideBar__group__lists__name  techcamp
        .sideBar__group__lists__message まだメッセージがありません
    .sideBar__group__lists 
      = link_to "#" do
        .sideBar__group__lists__name  techcamp
        .sideBar__group__lists__message まだメッセージがありません
    .sideBar__group__lists 
      = link_to "#" do
        .sideBar__group__lists__name  techcamp
        .sideBar__group__lists__message まだメッセージがありません
    .sideBar__group__lists 
      = link_to "#" do
        .sideBar__group__lists__name  techcamp
        .sideBar__group__lists__message まだメッセージがありません
    .sideBar__group__lists 
      = link_to "#" do
        .sideBar__group__lists__name  techcamp
        .sideBar__group__lists__message まだメッセージがありません