.sideBar
  .sideBar__user-name
    .sideBar__user-name__top-items
      .sideBar__user-name__top-items__name 
        = current_user.name
      .sideBar__user-name__top-items__icons  
        = link_to new_group_path(), class: "sideBar__user-name__top-items__icons__btn1" do
          = icon('fa', 'edit')
        = link_to edit_user_path(current_user), class: "sideBar__user-name__top-items__icons__btn2" do
          = icon('fa', 'cog') 

  .sideBar__group
    - current_user.groups.each do | group |
      .sideBar__group__lists
        = link_to group_messages_path(group.id), {class: "sideBar__group__lists__name"} do
          = group.name
        .sideBar__group__lists__message
          = group.show_last_message

 
    -# .sideBar__group__lists 
    -#   = link_to "#" do
    -#     .sideBar__group__lists__name  techcamp
    -#     .sideBar__group__lists__message まだメッセージがありません
    -# .sideBar__group__lists 
    -#   = link_to "#" do
    -#     .sideBar__group__lists__name  techcamp
    -#     .sideBar__group__lists__message まだメッセージがありません
    -# .sideBar__group__lists 
    -#   = link_to "#" do
    -#     .sideBar__group__lists__name  techcamp
    -#     .sideBar__group__lists__message まだメッセージがありません
    -# .sideBar__group__lists 
    -#   = link_to "#" do
    -#     .sideBar__group__lists__name  techcamp
    -#     .sideBar__group__lists__message まだメッセージがありません
    -# .sideBar__group__lists 
    -#   = link_to "#" do
    -#     .sideBar__group__lists__name  techcamp
    -#     .sideBar__group__lists__message まだメッセージがありません